@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: #4158D0;
    background-image: linear-gradient(-5deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  
    color: #fff;
}

.bg header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text a {
    display: inline-block;
    font-size: 2em;
    background: #12192c;
    padding: 10px 40px;
    text-decoration: none;
    color: #4158D0;
    margin-top: 10spx;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text a:hover {
    letter-spacing: 8px;
}

.button {
    background-color: teal;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}