@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
}

.bg {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    -5deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: #fff;
  z-index: -1;
}

.text h3 {
  padding-top: 50px;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text a {
  display: inline-block;
  font-size: 3em;
  background: #12192c;
  padding: 10px 50px;
  text-decoration: none;
  color: #4158d0;
  margin-top: 10spx;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text a:hover {
  letter-spacing: 8px;
}

p {
  font-size: 2em;
  padding-top: 50px;
  font-weight: 500;
}

img {
  padding-top: 50px;
  width: 400px;
}

button {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  font-weight: 700;
}

footer {
  margin-top: 250px;
}

.connect {
  padding-top: 50px;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.logo {
  position: relative;
  z-index: 2;
}
